*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#IDEA
*.idea
*.iml
/JavaEE_lab1/CarRental/nbproject/private/
/JavaEE_lab1/CarRental-client/nbproject/private/
/JavaEE_lab1/CarRental-ejb/nbproject/private/
/JavaEE_lab1/CarRental-lib/nbproject/private/
/JavaEE_lab1/CarRental-lib/build/
/JavaEE_lab1/CarRental-lib/dist/
/JavaEE_lab1/CarRental/build/
/JavaEE_lab1/CarRental-client/build/
/JavaEE_lab1/CarRental-ejb/build/
/JavaEE_lab1/CarRental-client/dist/
/JavaEE_lab1/CarRental-ejb/dist/
/JavaEE_lab1/CarRental/dist/